<article class="show">
    <div class="bandname">
        <a href="/show/{{id}}">{{bandname}}</a>
    </div>
    <div>
        <h1> From the Partial</h1>
       At {{show_time}} 
    </div>
</article>