<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"> -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Secret Show</title>
</head>

<body>
    <header id="header">
        {{#if loggedIn}}
        <h1>You are logged in</h1>
        <a href="/">
            <img id="reflect" src="./images/Secret_Show_glow.png" alt="Secret Show">
        </a>
        {{else}}
        <h1>Not logged in</h1>
        <a href="/">
            <img id="reflect" src="./images/Secret show01-01.png" alt="Secret Show">
        </a>
        {{/if}}
    </header>

    {{{ body }}}





    <footer>
        <div>
            <p>
                &#169;SecretShowV2 2021
            </p>
            <!-- <p>
                        <a href="https://github.com/dante-poe">Sage</a>
                        <a href="https://github.com/Ali-Mitchell">Ali</a>
                        <a href="https://github.com/mandahos">Amanda</a>
                        <a href="https://github.com/scochran31">Shawn</a>
                    </p> -->
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {{!--
    <script src="/js/landing.js"></script> --}}

</body>