

<form class="create-show">
    <article>
        <div id="create">
            <p>Create Your Show</p>
            <input type="text" id="band-name" placeholder="Band Name">
            <select id="genres" placeholder="Select your genre">
                <option>Select your Genre</option>
                <option value="Rock">Rock</option>
                <option value="Bluegrass">Bluegrass</option>
                <option value="Country">Country</option>
                <option value="RnB">R & B</option>
                <option value="HipHop">Hip Hop</option>
                <option value="EDM">EDM</option>
                <option value="Metal">Metal</option>
            </select>
            <input type="text" id="image-url" placeholder="Band Image">
            <input type="text" id="youtube" placeholder="Youtube Video ID (='ALJADFsh7')">
            <input type="text" id="location" placeholder="Show Address">
            <input type="text" id="time" placeholder="Show Time">
            <input type="text" id="show-date" placeholder="Show Date (MMMM/DD)">
            <select id="privacy" placeholder="Public or Private?">
                <option>Public or Private?</option>
                <option value="Public">Public</option>
                <option value="Private">Private</option>
            </select>
        </div>

        <button type="submit" class="login-join-btn" id="add-show-btn">Add Show</button>
    </article>
</form>

<script src="/js/create-show.js"></script>