<article>
    <div id="login">
        <p>Login Portal</p>
        <input id="email" placeholder="Email">
        <input id="password" placeholder="Password">
    </div>

    <button id="join">Login</button>
               
</article>