 <article>
            <div id="login">
                <p>Login to join</p>
                <input id="username" placeholder="Username">
                <input id="password" placeholder="Password">
            </div>

            <button id="join">Join</button>
               
</article>
