

<form class='login-form'>
<article>
    <div id="login">
        <p>Login Portal</p>
        <input id="login-email" placeholder="Email">
        <input id="login-password" placeholder="Password">
    </div>

    <button type="submit" class="login-join-btn" id="login-btn">Login</button>
               
</article>
</form>

<script src='/js/login.js'></script>