<div>
    <h1>SHOW DETAILS</h1>
    {{#each shows as |show| }}
    <h3>{{show.show_location}}</h3>
    {{/each}}
</div>
<h3>Leave a Comment </h3>
<div id="comment">
    <textarea rows="5" id="comment_text"></textarea>
    <button id="btnComment">Comment On</button>
</div>

<script src="../js/postcomment.js"></script>