<article>
    <div id="signUp">
        <h1>Sign Up to join</h1>
        <input id="signup-email" placeholder="Email">
        <input id="signup-username" placeholder="Username">
        <input id="signup-password" placeholder="Password">
        <a href="/login">Go to Login....</a>
    </div>

    <button class="login-join-btn" id="join-btn">Join</button>
        
</article>