<article>
    <div id="signUp">
        <h1>Sign Up to join</h1>
        <input id="email" placeholder="Email">
        <input id="username" placeholder="Username">
        <input id="password" placeholder="Password">
        <a href="/login">Go to Login....</a>
    </div>

    <button id="join">Join</button>
        
</article>