<form class="signup-form">
    <article>
        <div id="signUp">
            <h1>Sign Up to join</h1>
            <input type="text" id="signup-email" placeholder="Email">
            <input type="text" id="signup-username" placeholder="Username">
            <input type="password" id="signup-password" placeholder="Password (More than 6 characters)">
            <a href="/login">Go to Login....</a>
        </div>

        <button type="submit" class="login-join-btn" id="join-btn">Join</button>

    </article>
</form>

<script src="/js/signup.js"></script>