* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

body {
    background-image: url(../images/neon-brick-wall-sidewalk-wet-copy-space-banner_117255-1808.jpg);
    background-position-y: top;
    background-position-x: center;
    background-size: cover;
    display: flex;
    /* align-self: center; */
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}


header img {
    width:80%;
    padding: 50px 0px 30px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


/* This 'hover' makes the reflection happen */
#reflect:hover {
  -webkit-box-reflect: below -55px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.74)));
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signUp {
    width:280px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 20px;
    height: 340px;
    padding-bottom: 20px;
    Margin:75px auto 30px auto;
    background-image: linear-gradient(to right, #3b61d3, #e24c7c);
}

#signUp input {
    margin: 15px 15px 15px 15px;
    padding: 15px;
    height: 40px;
    border-radius: 12px;
    border:none;
}

#signUp input:hover {
    background-color: rgb(230, 230, 230);
}

#signUp h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 20px;
    text-align: center;
    color: ivory;
    padding: 15px;
}

#signUp a  {
    color: ivory;
    padding-left: 20px;
    text-decoration: underline;
    padding-top: 10px;

}

#signUp a:hover {
    color: lightgrey;
}

#login {
    width:280px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 20px;
    height: 230px;
    padding-bottom: 20px;
    Margin:75px auto 30px auto;
    background-image: linear-gradient(to right, #3b61d3, #e24c7c);
}

#login input {
    margin: 15px 15px 15px 15px;
    padding: 15px;
    height: 40px;
    border-radius: 12px;
    border:none;
}

#login input:hover {
    background-color: rgb(230, 230, 230);
}

#login p {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 20px;
    text-align: center;
    color: ivory;
    padding: 15px;
}

.login-join-btn {
    width: 280px;
    font-weight: bold;
}

.login-join-btn:hover {
    width:285px;
    height:50px;
}

footer {
    /* background-image: linear-gradient(to right, #21409a, #e24c7c); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

footer p {
    color: ivory;
}

footer a {
    color: ivory;
}


button {
    color: ivory;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 50px;
    width: 30%;
    margin: 30px 0px 30px 0px;
    padding: 0px 35px 0px 35px;
    border-radius: 10px;
    border:none; 
    background-image: linear-gradient(to right, #3259cf, #e42c7c );
    background-size: cover;
    background-repeat: no-repeat;
}


.buttons {
    display: flex;
    flex-direction: column;
} 

h3 {
    text-align: center;
}
.modalBtn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.likeBtn {
    height: 50px;
    width: 50px;
}

.youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  

  /* Styling for MapBox */

  /* The page is split between map and sidebar - the sidebar gets 1/3, map
  gets 2/3 of the page. You can adjust this to your personal liking. */

  #mapbox-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 0 auto;
   padding-top: 20px;
    width: 90%;
  
  }
  .sidebar {
    /* position: absolute; */
    width: 25%;
    display: flex;

    /* height: 50%;
    top: 25%;
    left: 0;
    overflow: hidden; */
    /* border-right: 1px solid rgba(0, 0, 0, 0.25); */
  }

  .map {
    /* position: absolute; */
    /* left: 25%; */
    /* padding-left: 10px; */
    /* width: 75%; */
    height: 400px;
    width:350px;
    /* bottom: 0%; */
   
  }

  .mapboxgl-canvas {
    height: 50%;
  }

  .heading {
    /* background: #fff; */
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 80px;
    /* line-height: 60px; */
    padding: 0 10px;
    display: flex;
    align-content: center;
  }

  .heading h1 {
    display: flex;
    align-self: center;

  }

  .listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
  }
  
  .listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
  }
  
  .listings .item:last-child { border-bottom: none; }
  
  .listings .item .title {
    font-size: 20px;
    color: #e42c7c;
    font-weight: 700;
  }
  
  .listings .item .title small { font-weight: 400; }
  
  .listings .item.active .title,
  .listings .item .title:hover { color: #21409a; }
  
  .listings .item.active {
    background-color: #f8f8f8;
  }
  
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #21409a;
    border-radius: 0;
  }
  
  .clearfix { display: block; }
  
  .clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }
  
  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 180px;
  }
  
  .mapboxgl-popup-content-wrapper {
    padding: 1%;
  }
  
  .mapboxgl-popup-content h3 {
    background: #21409a;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
  }
  
  .mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px;
    font-weight: 400;
  }
  
  .mapboxgl-popup-content div {
    padding: 10px;
  }
  
  .mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
  }
  
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
  }
  
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #21409a;
  }

  .marker {
    border: none;
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-image: url(../images/guitar-solid.svg);
    background-color: #e42c7c;
  }

  .mapboxgl-popup {
    padding-bottom: 50px;
  }

  p {
    text-align: center;
    color: rgb(192, 190, 190);
  }
  
  .likeReturnBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* /show  */

  #create-btn a {
    color:white;
    text-decoration: none;
  }

  /* create-show */

  #create {
    width: 275px;
    margin-top: 75px;
  }

  #create input {
    width:100%;
    padding:8px 0px 8px 20px;
    border-radius: 12px;
    border:none;
    margin: 10px 5px 10px 0px;
    text-decoration: black;
  }

  #create input:hover {
    background-color: lightgray;
  }
  #create select {
    width:100%;
    padding:8px 0px 8px 20px;
    border-radius: 12px;
    border:none;
    margin: 10px 5px 10px 0px;
  }

  #create p {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 19px;
    text-align: center;
    color: ivory;
    margin-bottom: 10px;
    /* margin-left: 5px; */
    text-align: center;
  }